@charset "utf-8";
/* CSS reset */
*{font-family: "优黑","微软雅黑", "宋体", "Microsoft Yahei", "Pinghei", Arial, Helvetica, sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
fieldset,img {border:0; }
ol,ul {list-style:none; }
h1,h2,h3,h4,h5,h6,button,input,select,textarea {font-size:100%;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0; border:0;}
table {border-collapse:collapse;border-spacing:0;}
i, cite, em, var, dfn, address {font-style: normal;}
body{font:12px "微软雅黑", "宋体",Arial, Helvetica, sans-serif;}
a{color: #313131;text-decoration: none;}
a:hover{text-decoration: underline;}
a:active, a:focus{outline:none}
a[href^="http://tongji.baidu.com"]{display: none;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0;}
.clearfix{zoom:1;clear:both;}
.clear{clear:both; height:0; line-height:0; font-size:0;}
.hidden,.none{display: none;}

.display-flexbox {
    display: -webkit-box;   /* 兼容旧的 webkit，Android 2.x */
    display: -webkit-flex;  /* 标准写法 带 webkit 前缀，兼容标准确立之前的 webkit */
    display: flex;          /* 标准写法 最新的 webkit, firefox, msie 可以支持 */
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}

body{background: #241110 url(../img/bg.jpg) no-repeat center 0;}
.float{width: 199px;height: 422px;padding: 37px 0 0 57px;position: fixed;right: 0;top: 50%;margin-top: -230px;background: url(../img/float.png) no-repeat center 0;}
.float.hide{margin-right: -214px;}
.float .float_toggle{width: 21px;height: 182px;position: absolute;left: 0;text-indent: -99999px;margin: 0 0 0 21px;}
.float_toggle::before{content: '';width: 0;height: 0;margin: -4px 0 0 10px;position: absolute;top: 50%;left: 0;border-width: 8px;border-style: solid;border-color: transparent transparent transparent #ba9569;}
.hide .float_toggle::before{margin-left: 0;border-color:  transparent #ba9569 transparent transparent;}
.float img{width: 168px;height: 168px;margin-bottom: 18px;display: block;padding: 7px;background: #fff;}
.float img ~ a{width: 182px;height: 55px;line-height: 55px;text-align: center;text-indent: 30px;display: block;margin-bottom: 10px;color: #fff;font-size: 18px;}
footer{height: 146px;background: #191919 url(../img/footer.jpg) repeat 0 0;}
.footer_core{width: 1000px;margin: 0 auto;color: #373637;font-size: 12px;padding: 40px 0 0;text-align: center;line-height: 20px;}
.footer_core a{color: #373637;}
header{height: 472px;}
.mobile_logo{display: none;}
nav{width: 1240px;margin: 0 auto;line-height: 67px;}
nav a{width: 177px;height: 88px;color: #e7cfb9;font-size: 20px;display: block;float: left;text-align: center;text-shadow: 0 0 10px #000, 0 0 10px #000;text-decoration: none;background: url(../img/nav.png) no-repeat 0 0;}
nav a.nav_0{width: 275px;text-indent: 80px;}
nav a.nav_0.current,
nav a.nav_0:hover{background-position: 0 bottom;}
nav a.nav_1{width: 177px;background-position: -275px 0;}
nav a.nav_1.current,
nav a.nav_1:hover{background-position: -275px bottom;}
nav a.home{width: 337px;background-position: -452px 0;}
nav a.home span{width: 100%;height: 151px;background: url(../img/logo.png) no-repeat center 0;text-indent: -99999px;display: block;}
nav a.nav_3{width: 177px;background-position: -966px 0;}
nav a.nav_3.current,
nav a.nav_3:hover{background-position: -966px bottom;}
nav a.nav_4{width: 274px;background-position: right 0;text-indent: -70px;}
nav a.nav_4.current,
nav a.nav_4:hover{background-position: right bottom;text-indent: -70px;}
nav a:hover{text-decoration: none;}
.wrapper{padding: 43px 0 63px;background: url(../img/grey.png) repeat 0 0;}
.core{width: 1000px;margin: 0 auto;background: #b39c8c;}
.crumbs{color: #200505;font-size: 20px;padding: 0 5px;line-height: 40px;border-bottom: 1px solid #8e6259;padding-top: 10px;margin: 0 15px;}
.crumbs a{font-size: 14px;float: right;padding-right: 26px;background: url(../img/back.png) no-repeat right 12px;}
article{color: #681919;padding: 20px 0 40px;margin: 0 40px;font-size: 14px;}
article h1{font-size: 28px;color: #240808;text-align: center;border-bottom: 1px dotted #9d6f6b;margin-bottom: 20px;}
article h1 span{display: block;font-size: 14px;color: #84524a;padding: 10px 0 20px;line-height: 20px;}
article p{line-height: 28px;text-indent: 28px;}

.list_tabs{line-height: 62px;font-size: 20px;color: #200505;overflow: hidden;margin: 0 14px;}
.list_tabs a{width: 25%;height: 62px;display: block;float: left;text-align: center;border-bottom: 1px solid #2f221a;}
.list_tabs a.current,
.list_tabs a:hover{height: 57px;border-bottom: 6px solid #833c2e;text-decoration: none;}
.list{margin: 0 40px;padding: 15px 0 25px;}
.list a{height: 37px;line-height: 37px;display: block;white-space: nowrap;color: #000000;font-size: 14px;border-bottom: 1px dotted #955e5e;}
.list a .list_type{width: 36px;float: left;color: #681919;}
.list a .list_time{width: 76px;float: right;color: #681919;}
.list a .list_title{margin: 0 80px 0 36px;display: block;overflow: hidden;text-overflow: ellipsis;}
.pgn{margin: 0 40px;padding: 0 0 25px;font-size: 14px;text-align: center;}
.pgn *{min-width: 16px;display: inline-block;padding: 0 5px;line-height: 26px;text-align: center;border: 1px solid #833c2e;border-radius: 2px;}
.pgn span{background: #833c2e;color: #fff;border-color: #833c2e;}

@media screen and (max-width: 999px){
body{background-size: 1000px auto;}

.mobile_logo{display: block;height: 88px;position: relative;}
.mobile_logo a{width: 219px;height: 151px;display: block;text-indent: -99999px;margin: 0 auto;background: url(../img/logo.png) no-repeat center center;}
.mobile_logo strong{position: absolute;top: 0;right: 0;color: #e7cfb9;font-size: 20px;padding: 10px 15px;background: #150d07;margin: 11px 7px 0;border-radius: 5px;}
.show_nav .mobile_logo{height: 0;}
.show_nav .mobile_logo a{display: none;}
nav{width: auto;display: none;}
header.show_nav nav{display: block;}
nav a,
nav a.nav_0,
nav a.nav_0.current,
nav a.nav_1,
nav a.nav_1.current,
nav a.nav_2,
nav a.nav_2.current,
nav a.nav_3,
nav a.nav_3.current,
nav a.nav_4,
nav a.nav_4.current{width: 100%;height: 67px;float: none;background-position: center 0;text-indent: 0;}
nav .home{display: none;}

.wrapper{padding: 0;}
.core{width: auto;}
.list{margin: 0 20px;}
article{margin: 0 15px;}
.pgn{margin: 0 20px;}

.float{width: auto;height: auto;padding: 20px 0 5px;text-align: center;margin-top: 0;position: relative;background: #22130a;}
.float_toggle{display: none;}
.float > *{margin: 0 auto;}
.float a{background: url(../img/float.png) no-repeat -57px -237px;}
.float a.float_weibo{background-position: -57px -302px;}
.float a.float_weixin{background-position: -57px -368px;}

footer{height: auto;}
.footer_core{width: auto;padding: 10px 0;}
}
		





















