/***************
@ By Kangning
@ On 2015-11-07
***************/

@charset "utf-8";
/* CSS reset */
*{font-family: "优黑","微软雅黑", "宋体", "Microsoft Yahei", "Pinghei", Arial, Helvetica, sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
fieldset,img {border:0; }
ol,ul {list-style:none; }
h1,h2,h3,h4,h5,h6,button,input,select,textarea {font-size:100%;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0; border:0;}
table {border-collapse:collapse;border-spacing:0;}
i, cite, em, var, dfn, address {font-style: normal;}
body{font:12px "微软雅黑", "宋体",Arial, Helvetica, sans-serif;}
a{color: #313131;text-decoration: none;}
a:hover{text-decoration: underline;}
a:active, a:focus{outline:none}
a[href^="http://tongji.baidu.com"]{display: none;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0;}
.clearfix{zoom:1;clear:both;}
.clear{clear:both; height:0; line-height:0; font-size:0;}
.hidden,.none{display: none;}

.display-flexbox {
    display: -webkit-box;   /* 兼容旧的 webkit，Android 2.x */
    display: -webkit-flex;  /* 标准写法 带 webkit 前缀，兼容标准确立之前的 webkit */
    display: flex;          /* 标准写法 最新的 webkit, firefox, msie 可以支持 */
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}


body{}
.core{width: 1000px;margin: 0 auto;}
header{height: 80px;font-size: 16px;line-height: 80px;}
	.nav{float: right;}
		.nav a{margin-left: 30px;}
	.logo{width: 184px;height: 80px;display: block;float: left;background: url(../img/logo.png) no-repeat 0 center;text-indent: -99999px;}
.home_banner{height: 710px;text-align: center;color: #fff;background: #0f70c3 url(../img/banner.png) no-repeat center bottom;}
	.home_banner h1{padding: 100px 0 30px;font-size: 48px;}
	.home_banner h2{font-size: 24px;font-weight: normal;}
.home_list{}
.home_grey{background: #f7f7f7;}
	.home_title{text-align: center;padding: 80px 0;color: #333333;font-size: 30px;position: relative;font-weight: normal;}
		.home_title span::before,
		.home_title span::after{content: '';width: 6px;height: 6px;background: #34b5ed;border-radius: 50%;display: inline-block;position: absolute;top: 50%;margin: -3px 0 0 -100px;}
		.home_title > span > span::before{width: 8px;height: 8px;margin: -4px 0 0 -70px;}
		.home_title > span > span > span::before{width: 12px;height: 12px;margin: -6px 0 0 -40px;}
		.home_title span::after{margin: -3px 0 0 100px;}
		.home_title > span > span::after{width: 8px;height: 8px;margin: -4px 0 0 70px;}
		.home_title > span > span > span::after{width: 12px;height: 12px;margin: -6px 0 0 40px;}
	.home_list_box{margin: 0 auto;position: relative;overflow: hidden;padding-top: 12px;}
		.home_list_box::before{width: 8px;height: 8px;content: '';border-radius: 50%;border: 2px solid #07a0e2;position: absolute;left: 50%;margin: -12px 0 0 -6px;}
		.home_list_box::after{width: 64px;height: 32px;content: '';border-radius: 32px 32px 0 0;background: #34b5ed;position: absolute;left: 50%;margin: 0 0 0 -32px;bottom: 0;}
		.home_list_box ul{width: 449px;display: block;float: left;text-align: left;padding-right: 20px;margin-left: 30px;}
		.home_list_box ul + ul{width: 450px;border-left: 2px solid #34b5ed;padding: 0 0 0 49px;margin-left: 0;}
			.home_list_box li{height: 110px;padding: 10px 10px 0;margin-bottom: 50px;border-radius: 5px;position: relative;transition: all 0.5s ease-out 0s;cursor: default;}
			.home_list_box li:hover{background: #34b5ed;}
				.home_list_box li > *{transition: all 0.2s ease-out 0s;}
				.home_list_box li:hover > *{color: #fff;}
				.home_list_box li:hover::before{width: 19px;height: 0;content: '';border: 1px dotted #34b5ed;right: 0;top: 50%;position: absolute;margin: -1px -19px 0 0;}
				.home_list_box ul + ul li:hover::before{width: 49px;right: none;left: 0;margin: 0 0 0 -49px;}
				.home_list_box li span{color: #464646;font-size: 36px;float: left;font-style: italic;}
				.home_list_box li strong,
				.home_list_box li p{margin-left: 30px;display: block;}
				.home_list_box li strong{font-size: 22px;font-weight: normal;line-height: 42px;}
				.home_list_box li p{color: #464646;font-size: 16px;line-height: 26px;}
.home_demand{text-align: center;padding-bottom: 66px;}
	.home_demand .demand{width: 320px;display: inline-block;overflow: hidden;vertical-align: top;background: url(../img/demand_icons.png) no-repeat 105px 0;padding: 130px 0 0;}
	.demand h2{font-size: 22px;color: #333333;font-weight: normal;}
	.demand ul{height: 360px;text-align: left;padding: 15px 25px;background: #f4ae19;line-height: 28px;color: #fff;font-size: 14px;margin: 24px 5px 0;border-radius: 8px;position: relative;}
		.demand ul::before{width: 0;height: 0;content: '';border: 10px solid #f4ae19;border-color: transparent transparent #f4ae19 transparent;position: absolute;left: 50%;margin: -34px 0 0 -8px;}
		.demand li{padding-left: 8px;position: relative;}
			.demand li::before{width: 4px;height: 0;content: '';border-top: 1px solid #fff;position: absolute;top: 14px;margin: 0 0 0 -8px;}
	.demand.demand_blue{background-position: center 0;}
		.demand_blue ul{background-color: #34b5ed;}
			.demand_blue ul::before{border-color: transparent transparent #34b5ed transparent;}
	.demand.demand_green{background-position: -575px 0;}
		.demand_green ul{background-color: #98c61b;}
			.demand_green ul::before{border-color: transparent transparent #98c61b transparent;}
.home_feature{padding-bottom: 66px;}
	.home_h2{font-size: 18px;color: #333333;text-align: center;}
	.home_title + .home_h2{margin-top: -70px;padding-bottom: 40px;font-weight: normal;}
	.feature_box{min-height: 267px;padding-left: 450px;background: url(../img/device.png) no-repeat 0 center;}
		.feature_box p{font-size: 16px;color: #333333;margin: 30px 0 0;line-height: 30px;border-left: 2px solid #464646;padding-left: 16px;}
			.feature_box p strong{color: #f04900;font-size: 36px;font-weight: normal;}
.home_process{text-align: center;background: #34b5ed;}
	.home_process ul{overflow: hidden;}
		.home_process li{width: 180px;height: 75px;padding-top: 175px;display: block;float: left;color: #fff;font-size: 18px;margin-left: 25px;background: url(../img/process_icons.png) no-repeat 0 68px;position: relative;overflow: hidden;transition: all 0.3s ease-out 0s;}
		.home_process li.process_1{background-position: -205px 68px;}
		.home_process li.process_2{background-position: -410px 68px;}
		.home_process li.process_3{background-position: -615px 68px;}
		.home_process li.process_4{background-position: right 68px;}
		.home_process ul li:first-child{margin-left: 0;}
		.home_process li:hover{background-color: #0c98d4;opacity: .8;}
			.home_process li::before,
			.home_process li::after{width: 12px;height: 12px;content: '';position: absolute;border: 2px solid #fff;border-width: 2px 0 0 2px;margin: 47px 0 0 26px;left: 0;top: 0;transition: all 0.2s ease-out 0s;}
			.home_process li::after{left: auto;right: 0;margin: 143px 26px 0 0;border-width: 0 2px 2px 0;}
			.home_process li:hover::before{margin: 7px 0 0 -14px;}
			.home_process li:hover::after{margin: 183px -14px 0 0;}
.home_partner{padding-bottom: 200px;}
	.home_partner_tb{margin: 0 auto;}
		.home_partner_tb td{
			width: 158px;height: 78px;background: #f7f7f7;border: 1px solid #dddddd;text-align: center;vertical-align: middle;font-size: 22px;
			-webkit-filter: grayscale(100%); 
			-moz-filter: grayscale(100%); 
			-ms-filter: grayscale(100%); 
			-o-filter: grayscale(100%); 
			filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=1); 
			_filter:none;}
		.home_partner_tb td img{max-width: 90%;max-height: 90%;}
		.home_partner_tb td.td_red{background: #fff;color: #f04900;}
		.home_partner_tb td.td_red a{color: #f04900;}
		.home_partner_tb td.td_red,
		.home_partner_tb td:hover{text-decoration: none;
			-webkit-filter: grayscale(0%); 
			-moz-filter: grayscale(0%); 
			-ms-filter: grayscale(0%); 
			-o-filter: grayscale(0%); 
			filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=0); 
			_filter:none;}
			.home_partner_tb td:hover a{text-decoration: none;}
.home_bottom{height: 700px;background: url(../img/soho.jpg) no-repeat center center;position: relative;}
@media screen and (min-width: 1800px){
	.home_bottom{background-size: cover;}
}
	.dialog{width: 253px;height: 213px;padding: 70px 0 0 30px;background: url(../img/dialog.png) no-repeat center center;position: absolute;left: 50%;margin: 50px 0 0 0;
		animation: position1 1s infinite alternate; /*IE*/
		-moz-animation: position1 1s infinite alternate; /*FireFox*/
		-webkit-animation: position1 1s infinite alternate; /*Chrome, Safari*/}
		@keyframes position1{
			from {margin: 60px 0 0 0}
		    to {margin: 20px 0 0 0;}
		}
		@-moz-keyframes position1{
			from {margin: 60px 0 0 0}
		    to {margin: 20px 0 0 0;}
		}
		@-webkit-keyframes position1{
			from {margin: 60px 0 0 0}
		    to {margin: 20px 0 0 0;}
		}
	.dialog:hover{
		-webkit-animation-play-state: paused;
		-moz-animation-play-state: paused;
		-o-animation-play-state: paused;
		animation-play-state: paused;}

		.dialog h1{color: #333;font-size: 26px;margin-bottom: 10px;}
		.dialog a{display: block;height: 36px;line-height: 36px;padding-left: 38px;background: url(../img/dialog_icons.png) no-repeat 6px 5px;font-size: 16px;color: #333333;}
		.dialog a:hover{color: #33bbee;}
		.dialog a.dialog_email{background-position: 6px center;}
		.dialog a.dialog_map{background-position: 6px -68px;}
footer{height: 70px;line-height: 70px;text-align: center;color: #333;font-size: 18px;}

@media screen and (max-width: 999px){
	.core{width: auto;}

	header{height: auto;line-height: 50px;text-align: center;}
		header a.logo{float: none;display: inline-block;}
		header .nav{float: none;clear: both;border-top: 1px solid #34b5ed;}
	.home_banner{height: auto;background-size: 120%;overflow: hidden;}
		.home_banner h1{font-size: 28px;padding: 0;margin: 10% 0 5%;}
		.home_banner h2{font-size: 20px;padding: 0;margin: 5% 0 50%;}
		.home_title{font-size: 24px;padding: 30px;}
			.home_title span{position: relative;}
			.home_title > span::before,
			.home_title > span > span::before,
			.home_title span::after{display: none;}
			.home_title > span > span > span{display: inline-block;}
			.home_title > span > span > span::before{width: 2px;height: 28px;border-radius: 0;margin-top: -14px;margin-left: -10px;}
			.home_title > span > span > span::after{width: 2px;height: 28px;border-radius: 0;margin-top: -14px;display: block;margin-right: -10px;right: 0;left: auto;}
		.home_list_box ul{width: auto;float: none;padding: 0;margin: 0 3%;}
		.home_list_box ul + ul{width: auto;padding: 0;margin: 0 3%;border: none;}
			.home_list_box li{height: auto;padding: 0;}
				.home_list_box li strong{line-height: inherit;padding-top: 8px;}
				.home_list_box li br{display: none;}
		.home_demand .demand{margin: 0 auto 30px;display: block;}
			.demand ul{height: auto;}
		.home_title + .home_h2{margin-top: 0;margin: 0 3%;}
		.feature_box{padding: 55% 0 0;background-position: center 0;background-size: 90%;}
		.feature_box p{border: none;margin: 10px 3%;}
	.home_process{text-align: center;}
		.home_process li{margin-left: 0;display: inline-block;float: none;}
		.home_partner_tb td{font-size: 14px;
			-webkit-filter: grayscale(0%); 
			-moz-filter: grayscale(0%); 
			-ms-filter: grayscale(0%); 
			-o-filter: grayscale(0%); 
			filter:progid:DXImageTransform.Microsoft.BasicImage(grayscale=0); 
			_filter:none;}
	.home_partner{padding-bottom: 6%;}
	.home_bottom{height: auto;background-size: cover;overflow: hidden;}
		.dialog{
			left: auto;
			position: relative;
			margin: 6% auto;
			background: url(../img/bg_white.png) repeat 0 0;
			border-radius: 50%;
			animation: none;
			-webkit-animation-play-state: paused;
			-moz-animation-play-state: paused;
			-o-animation-play-state: paused;
			animation-play-state: paused;}
	footer{line-height: inherit;display: table;}
		footer span{display: table-cell;vertical-align: middle;}
}
		





















